ACCESS_TOKEN_EXPIRE_MINUTES=
ALGORITHM=
DATABASE_URL=
GROQ_API_KEY=
SECRET_KEY=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_HISTORY_DATABASE=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=
SNOWFLAKE_USER=
SNOWFLAKE_VIEWER_ROLE=
SNOWFLAKE_WAREHOUSE=
